@import '../styles';

.sidenav-container {
  height: 100%;

  .sidenav {
    min-width: 300px;

    .mat-toolbar {
      background: inherit;

      .sidenav-image {
        height: 50px;
        margin: 5px auto;
      }

      .mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }

    mat-divider {
      margin-right: 10px;
      margin-left: 10px;
    }

    .active-link {
      background-color: rgba(0, 0, 0, 0.04);
      color: mat-color($app-primary, default);

      .mat-list-icon {
        color: inherit;
      }
    }

    .mat-list-icon {
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .mat-elevation-z6 {
    position: relative;
    z-index: 2;
  }
}
